@import "tailwindcss";

@theme {
  --color-navy: #1C2B41;
  --color-green: #6FA050;
  --color-green-light: #9BC97A;
  --color-cream: #F5F2D0;
  --color-blue: #0454be;
  --color-blue-dark: #0A3D8F;
}

body {
  font-family: "Segoe UI", system-ui, sans-serif;
}